@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  margin: 0;
}

.hero__img{
  position: absolute;
  top: 138px;
  width: 100vw;
  height: 550px;
  object-fit: cover;
  background-image: url(../src/assets/krists.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .hero__img{
      height: 257px;
      left: 0px;
      top: 65px;;
  }
}